body {
  color: #343f44;
  margin-left: 15%;
  margin-right: 15%;
}
h1.page-title {
  text-align: center;
}
p.page-description {
  text-align: center;
}
footer.site-footer {
  text-align: center;
}
hr {
  border-top: 1px solid #738a94;
  clear: both;
}
div.nav ul li{
  display: inline-block;
}
time.post-date {
  color: #738a94;
  font-weight: normal;
}
div.extra-pagination {
  text-align: right;
}
nav.pagination {
  text-align: right;
}
img {
  display: block;
  max-width: 100%;
  hight: auto;
  margin-left: auto;
  margin-right: auto;
}
pre {
  background-color: #e5eff5;
}
blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 3px solid #738a94;
}
a {
  color: #738a94;
}
a:hover {
  color: #3eb0ef;
}
a.read-next-story {
  float: right;
  text-align: right;
}
a.prev {
  float: left;
}
